#box {
    text-align: center;
    margin-top: -5em;
    column-count: 3;
    padding: 2em;
    column-gap: 20px;
}

#box.count1 {
    column-count: 1;
}

#box.count2 {
    column-count: 2;
}

#box.count3 {
    column-count: 3;
}

.main-header .header-img {
    width: 20em;
}

@media (max-height: 800px) {
    .main-header .header-img {
        width: 15em;
    }
}

@media (max-height: 600px) {
    .main-header .header-img {
        display: none;
    }
}

@media (max-width: 1300px) {
    .header-row {
        width: 100%;
    }
}

@media (max-width: 1250px) {
    #box {
        column-count: 2;
    }

    #box.count3 {
        column-count: 2;
    }
}

@media (max-width: 850px) {
    #box {
        column-count: 1;
    }

    #box.count2 {
        column-count: 1;
    }

    #box.count3 {
        column-count: 1;
    }
}

@media (max-width: 550px) {
    .main-header .header-img {
        display: none;
    }
}

.box {
    background-color: white;
    break-inside: avoid;
    box-shadow: 0 1rem 3rem rgba(33, 37, 41, .175);
    margin-bottom: 20px;
    padding: 5px;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
}

.box img {
    display: block;
    width: 100%;
    height: auto;
}

.box p {
    color: #000;
}

.box a {
    text-decoration: none;
}

.navbar span {
    color: white;
}

header {
    text-align: center;
}

#box h3 {
    text-align: center;
}

p {
    font-size: 16px;
    margin: 0;
}

.Boxactiv {
    background-color: #dddddd;
}

.vsButton {
    position: fixed;
    bottom: 0.1em;
    left: 0.1em;
}

/* Main section styles */
.main-section {
    background-color: #2196f3;
    font-size: 1.5em;
    color: white;
    display: flex;
    flex-direction: column;
    height: 90vh;
}

/* Navbar styles */
.navbar {
    background-color: transparent;
    color: #dddddd;
}

#navbarNavAltMarkup a:hover {
    color: #fff;
    font-weight: bold;
}

.nav-link {
    color: #f0f0f0;
}

.nav-link-activ {
    font-weight: bold;
    color: #fff;
}

/* Main header styles */
.main-header {
    flex: 1;
    display: flex;
    align-items: center;

}

.header-row {
    display: flex;
    align-items: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.header-col {
    width: 50vw;
}

.main-title {
    width: 15em;
    font-size: 2em;
}


/* White section styles */
.white-section {
    background-color: white;
    box-shadow: 0 1rem 3rem rgba(33, 37, 41, .175);
}

/* Footer styles */
footer {
    padding: 1em;
    text-align: center;
}

.loading {
    margin-top: 1em;
    width: 48px;
    height: 48px;
    border: 3px solid #ddd;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    animation: rotation 1s linear infinite;
}

.loading:after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 56px;
    height: 56px;
    border-radius: 50%;
    border: 3px solid;
    border-color: #ff3d00 transparent;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.ISCDN {
    position: absolute;
    right: 1em;
    top: 6px;
}