h1 {
    color: white;
}

#section0 .app_neme {
    display: flex;
}

#section0 .app_neme h1 {
    font-size: 8rem;
    margin: 0;
    line-height: 200px;
}

#section0 .app_neme img {
    width: 200px;
    height: 200px;
}


#section0 {
    background-image: linear-gradient(128deg, #cff4fc, #0d6efd);
}

#section1 {
    background-image: url(../icons/tl.webp);
    background-repeat: no-repeat;
    background-size: cover;
}

#section1 img {
    left: 100%;
    position: relative;
    transition: all 600ms ease;
}

#section1 .image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#section2 {
    background-image: url(../icons/s.webp);
    background-repeat: no-repeat;
    background-size: cover;
}

:root {
    --ellipse: 6.25rem;
}

#section2 h1 {
    font-size: 4rem;
    color: #333;
    width: 40rem;
    position: relative;
}


#section2 h1::after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    color: transparent;
    background-image: linear-gradient(to left, #1a2a6c, #b21f1f, #fdbb2d);
    background-clip: text;
    -webkit-background-clip: text;
    /* 因为background-clip是预览阶段的css属性，要加上一个前缀版本 */
    clip-path: ellipse(var(--ellipse) var(--ellipse) at 0% 50%);
    animation: move 5s infinite;
}

@keyframes move {

    0%,
    100% {
        clip-path: ellipse(var(--ellipse) var(--ellipse) at 0% 50%);
    }

    50% {
        clip-path: ellipse(var(--ellipse) var(--ellipse) at 100% 50%);
    }
}

#section2 .button button {
    color: white;
    font-size: 3em;
    background: none;
    border: none;
    border-bottom: white 2px solid;
}

#section2 .button button:hover {
    border-bottom: #0dcaf0 2px solid;
}

#section3 {
    background-image: linear-gradient(128deg, #8fffc7, #0dcaf0);
}

#section3 h1 {
    font-size: 8rem;
}

#section3 h2 {
    color: white;
    text-align: center;
    font-size: 4rem;

}


@media screen and (max-width: 800px) {

    /* 小于 */
    .image-container img {
        max-width: 400px;
    }

    #section0 .app_neme h1 {
        font-size: 4rem;
        line-height: 96px;
    }

    #section0 .app_neme img {
        width: 96px;
        height: 96px;
    }

    #section3 h1 {
        font-size: 4rem;
    }

    #section3 h2 {
        font-size: 3rem;

    }

}

@media screen and (max-width: 1200px) {

    /* 小于 */
    #section2 {
        padding: 1rem 0;
    }

    #section2 h1 {
        font-size: 3em;
        margin-bottom: 1rem;
        width: 30em;
    }


}

@media screen and (min-width: 800px) {

    /* 大于 */
    .image-container img {
        max-width: 600px;
    }


}


@media screen and (min-width:1000px) {

    /* 大于 */


}

@media screen and (min-width:1025px) {

    /* 大于 */
    .image-container img {
        max-width: 800px;
    }

}

@media screen and (min-width:1235px) {

    /* 大于 */
}

@media screen and (min-width:1921px) {
    .image-container img {
        max-width: 1000px;
    }
}